<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap-4.4.1/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap-4.4.1/css/dashboard.css">
    <script type="text/javascript" src="/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap-4.4.1/js/bootstrap.min.js"></script>
    <style type="text/css">
    </style>
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <li id="datetime" class="navbar-brand col-sm-3 col-md-2 mr-0" style="list-style-type:none;"></li>
    <input class="form-control form-control-dark w-25" type="text" placeholder="请输入关键字" aria-label="Search">
    <div class="">
        <ul class="navbar-nav px-4">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/logout">登出</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link h5 {% block nav_a_active %}{% endblock %}" href="/">
                            <span data-feather="home"></span>
                            概况 <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5 {% block nav_link_active %}{% endblock %}" href="/link">
                            <span data-feather="file"></span>
                            快捷导航
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="shopping-cart"></span>
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users"></span>
                            Customers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="bar-chart-2"></span>
                            Reports
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers"></span>
                            Integrations
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Saved reports</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Current month
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Last quarter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Social engagement
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Year-end sale
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block base %}

        {% endblock base %}
    </div>
</div>

<script>
    var dnow = new Date();
    var datetime;
    dyear = dnow.getFullYear();
    dmonth = dnow.getMonth();
    ddate = dnow.getDate();
    dday = dnow.getDay();
    dhours = dnow.getHours();
    datetime = dyear + " 年 " + (dmonth + 1) + " 月 " + ddate + " 日 " + " • " + "星期" + '日一二三四五六'.charAt(dday);
    //document.write(s);
    document.getElementById("datetime").innerHTML = datetime;
</script>
</body>
</html>