<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.7/css/dashboard.css">
    <script type="text/javascript" src="/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">控制台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{session.get('username')}}</a></li>
                <li><a href="/logout">登出</a></li>
                <li><a href="#">设置</a></li>
                <li><a href="#">帮助</a></li>
            </ul>

            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="{% block nav_a_active %}{% endblock %}"><a href="/aaa">Overview</a></li>
                <li class="{% block nav_b_active %}{% endblock %}"><a href="/bbb">Reports</a></li>
                <li class="{% block nav_c_active %}{% endblock %}"><a href="#">Analytics</a></li>
                <li class="{% block nav_d_active %}{% endblock %}"><a href="#">Export</a></li>
                <li class="{% block nav_e_active %}{% endblock %}"><a href="">Nav item</a></li>
                <li class="{% block nav_f_active %}{% endblock %}"><a href="">Nav item again</a></li>
                <li class="{% block nav_g_active %}{% endblock %}"><a href="">One more nav</a></li>
                <li class="{% block nav_h_active %}{% endblock %}"><a href="">Another nav item</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block base %}

            {% endblock base %}
        </div>
    </div>
</div>

</body>
</html>