<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <title>login</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
</body>
</html>